*{
    margin:0px;
    padding:0px;
}
#Navbar{
    background-color: #0f1111;
    height: 60px;
}
#amazon-logo{
    color: #f08804;
    font-size: 25px;
}
#search{
    background-color: #f08804;
    
}
a{
    margin-right: 190px;
    color: white;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 20px;
    border: 2px solid black;
}
#box1{
    background-color: rgba(255, 0, 0,0.5 );
}
#box2{
    background-color: rgba(179, 213, 220 ,0.5);
}
#box3{
    background-color: rgba(255, 245, 190, 0.5 );
}
main{
    height: 455px;
}
footer{
    background-color: #0f1111;
    text-align: center;
    color: white;
}